   <div class="pagination">
    <span class="btn-page prev"><i class="fa-solid fa-backward-step"></i></span>
    <a href="#"><span class="num-page active">1</span></a>
    <a href="#"><span class="num-page ">2</span></a>
    <a href="#"><span class="num-page ">3</span></a>
    <a href="#"><span class="num-page ">4</span></a>
    <span class="btn-page next"><i class="fa-solid fa-forward-step"></i></span>
  </div>
  
 <footer>

  <div  class="back-to-top" (click)="scrollToTop()">
    <p>Back To Top</p>
  </div>

      <div class="container">

        <div class="big-row">
          <div class="hotline">
            <i class="fa-solid fa-headset"></i>

            <div class="text">
              <h5>Hotline Free 24/24:</h5>
              <h6>015555555555</h6>
            </div>

          </div>

          <p>
            Lorem ipsum dolor, Excepturi consequatur hic recusandae nostrum, nobis quos! Nost
          </p>
        </div>
        
        <div class="row">
          <h4>FAQ & Help</h4>
          <div class="links">
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; F.A.Q.S</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Ordering Tracking</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Contacts</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Events</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Help Center</a>
            
          </div>
        </div>

        <div class="row">
          <h4>Shipping & Delivery</h4>

          <div class="links">
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Delivery Information</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Discount</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Payment</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Estimated Delivery Time</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Shipping Guide</a>
          </div>
        </div>

        <div class="row">
          <h4>Information</h4>

          <div class="links">
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Popular</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Our Services</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Your Account</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Privacy Policy</a>
            <a href="#"> <i class="fa-solid fa-angles-right"></i>  &nbsp; Terms & Condition</a>
          </div>
        </div>


      </div>

      <!-- Bottom Footer -->
      <div class="bottom-footer">
        <div class="container">
          <p>Welcome To <span> NTI</span> E-commerce</p>

          <div class="payment-img">
            <img src="payment-1.png" alt="">
            <img src="payment-2.png" alt="">
            <img src="payment-3.png" alt="">
            <img src="payment-4.png" alt="">
          </div>
        </div>
      </div>
    </footer>