/* .page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1000; 
  margin-bottom: 5px;
}

.content {
  flex-grow: 1; 
  background: #f5f6f9;
}

.side{
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f5f6f9;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

app-footer {
  flex-shrink: 0; 
} */
